body {
    font-family: Arial, sans-serif;
    background-color: #e7f1ff; /* Light blue background */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #003366; /* Dark blue */
}

.calculator, .iterator, .prime-generator {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    background-color: #007bff; /* Bootstrap blue */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

p {
    font-weight: bold;
    color: #003366; /* Dark blue */
    margin-top: 15px;
}
